<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Razor Page Sample</title>
</head>
<body>
    <a asp-page="/Index">Home</a>
    @RenderBody()
    <a asp-page="/Customers/Create">Create</a>

</body>
</html>
